<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Shopping Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <script type="module" src="/static/js/cart.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div th:replace="header.html :: copy"></div>
<div class="container">
    <div class="card text-center">
        <h3>Cart</h3>
    </div>
</div>

<th:block th:if="${#sets.isEmpty(products)}">
    <div class="container">
        <div class="card">
            <h4 class="row justify-content-md-center">Your cart is empty!</h4>
        </div>
    </div>
</th:block>

<th:block th:if="${not #sets.isEmpty(products)}">
<div id="cart" class="container">
    <div class="card">
        <h3>Products</h3>
    </div>

    <div class="list-group-item" th:each="prod,iterStat : ${products}" th:attr="id='product_' + ${prod.getId()}">
        <img alt="" class="thumbnail" src="http://placehold.it/200x125/000/fff" th:attr="class='thumbnail', src='/static/img/product_' + ${prod.id} + '.jpg'"/>
        <div class="list-group-item-text">
            <h4  th:text="${prod.name}">Product name</h4>
            <p  class="unit-price" th:text="${prod.unitPrice} + ' ' + ${prod.defaultCurrency}">100 USD</p>
            <div class="edit">
                <label for="quantity">Qty:</label>
                <select id="quantity" th:attr="data-id=${prod.getId()}">
                    <option th:each="i : ${#numbers.sequence(0, 9)}" th:text="${i}" th:selected="(${prod.quantity} == ${i} ? true : false)"></option>
                </select>
                <i>|</i>
                <div>
                    <a href="#" class="remove" th:attr="data-id=${prod.getId()}">Remove</a>
                </div>
            </div>
        </div>
        <div class="subtotal">
            <p th:text="'Subtotal: ' + ${prod.subtotal} + ' ' + ${prod.defaultCurrency}">100 USD</p>
        </div>
    </div>

    <div class="card">
        <div class="card">
            <div class="card-body">
                <div class="card-text total">
                    <p class="lead" th:text="'Total: ' + ${total} + ' ' + ${currency}">100 USD</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card">
            <div class="card-body">
                <div class="card-text total">
                    <a href="/cart/checkout" class="btn btn-primary btn-success btn-lg active" role="button" aria-pressed="true">Checkout</a>
                </div>
            </div>
        </div>
    </div>

</div>
</th:block>

</body>
</html>